@import "../theme/waybar.css";

* {
  /* background-color: @background; */
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  margin-top: 10px;
}

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin-left: 0;
}

mpris#waybar.empty #mpris {
  background: transparent;
  padding: 0;
  margin-right: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-weather,
#memory,
#custom-update,
#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy,
#workspaces,
#tray-expander {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
  padding: 0 10px;
  margin: 5px 2;
}

#network.icon {
  padding-right: 14px;
}

#memory,
#custom-weather {
  margin-right: -10px;
}

#pulseaudio {
  padding-right: 15px;
}

#custom-omarchy {
  padding-left: 10px;
}

#custom-update {
  padding-left: 7px;
}

#custom-expand-icon {
  margin-right: -4px;
}

tooltip {
  border-radius: 10px;
  padding: 2px;
}