@import "../theme/waybar.css";

* {
    background: transparent;
    color: @foreground;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: CaskaydiaMono Nerd Font;
    font-size: 11px;
}

window#waybar {
    all: unset;
}

.modules-right, .modules-left {
    padding: 4px 6px;
    margin: 4px 6px 0;
    border-radius: 6px;
    background: alpha(@background, 0.85);
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces {
    padding: 0 3px;
}

#workspaces button {
    all: unset;
    padding: 0 4px;
    margin: 0 1px;
    min-width: 8px;
    color: alpha(@foreground, 0.25);
    transition: color 0.2s ease;
}

#workspaces button:hover {
    color: alpha(@foreground, 0.8);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#workspaces button.active {
    color: @foreground;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty.active {
    color: @foreground;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#privacy,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-do-not-disturb-indicator,
#custom-update {
    min-width: 10px;
    margin: 0 3px;
    color: @foreground;
    transition: color 0.2s ease;
}

#custom-expand-icon {
    margin-right: 3px;
    color: alpha(@foreground, 0.8);
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6);
}

#custom-expand-icon:hover {
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.5);
}

tooltip {
    background: @background;
    color: @foreground;
    font-size: 9px;
    padding: 2px 4px;
}

#custom-update {
    font-size: 9px;
    padding: 0 6px;
}

#clock {
    margin-left: 2px;
    padding: 0 4px;
    color: @foreground;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 10px;
    margin-left: 6px;
    font-size: 9px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}

#battery.charging {
    color: #26a65b;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation: blink 0.5s linear infinite alternate;
}
