@import "base-theme.rasi"

* {
  background: #121212;
  background-alt: #121212;
  foreground: #EAEAEA;
  selected-text: #B91C1C;
  border-color: #EAEAEA88;
  
  window-background: rgba(18, 18, 18, 0.95);
  placeholder-color: rgba(234, 234, 234, 0.5);
}