@import "base-theme.rasi"

* {
  background: #1f1f28;
  background-alt: #1f1f28;
  foreground: #dcd7ba;
  selected-text: #dca561;
  border-color: #dcd7ba;
  
  window-background: rgba(31, 31, 40, 0.95);
  placeholder-color: rgba(220, 215, 186, 0.5);
}
