@import "base-theme.rasi"

* {
  background: #eff1f5;
  background-alt: #eff1f5;
  foreground: #4c4f69;
  selected-text: #1e66f5;
  border-color: #dce0e8;
  
  window-background: rgba(239, 241, 245, 0.95);
  placeholder-color: rgba(76, 79, 105, 0.5);
}