environment {
    XCURSOR_SIZE "24"

    TERMINAL "alacritty"
    EDITOR "nvim"

    QT_QPA_PLATFORM "wayland;xcb"
    QT_STYLE_OVERRIDE "kvantum"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    OZONE_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    XDG_SESSION_TYPE "wayland"
    ELECTRON_ENABLE_WAYLAND "1"

    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_DESKTOP "Niri"

    XDG_DATA_HOME=$HOME/.local/share
    XDG_DATA_DIRS=/usr/local/share:/usr/share

    XCOMPOSEFILE "$HOME/.XCompose"
    GDK_BACKEND "wayland,x11"
}