// ============================================================================
// SPECIAL BEHAVIOR WINDOWS
// ============================================================================

window-rule {
    match title=".*Picture-in-Picture.*"
    open-floating true
}

window-rule {
    match app-id="^Screensaver$"
    open-maximized true
    open-maximized-to-edges true
    open-fullscreen true

    focus-ring { 
        off 
    }
    border { 
        off 
    }
}

// ============================================================================
// WORKSPACE: WEB
// ============================================================================

window-rule {
    match app-id=r#"^(google-chrome|chromium|org\.chromium\.Chromium)$"#
    open-maximized true
    open-focused true
    open-on-workspace "Web"
}

// ============================================================================
// WORKSPACE: CODE
// ============================================================================

window-rule {
    match app-id=r#"^(code|jetbrains-studio|antigravity)$"#
    open-maximized true
    open-focused true
    open-on-workspace "Code"
}

// ============================================================================
// WORKSPACE: CHAT
// ============================================================================

window-rule {
    match app-id=r#"^(Slack|org\.telegram\.desktop|signal|chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default)$"#
    open-maximized true
    open-focused true
    open-floating true
    open-on-workspace "Chat"

    shadow {
      on
    }
}

// ============================================================================
// WORKSPACE: FILE
// ============================================================================

window-rule {
    match app-id="org.gnome.Nautilus"
    open-focused true
    open-on-workspace "File"
}

// ============================================================================
// WORKSPACE: Music 
// ============================================================================

window-rule {
    match app-id="spotify"
    open-focused true
    open-on-workspace "Music"
}


// ============================================================================
// FLOATING WINDOWS
// ============================================================================

// Small utility windows
window-rule {
    match app-id=r#"^(blueberry\.py|Bluetui|Impala|Wiremix|org\.gnome\.NautilusPreviewer|com\.gabm\.satty|Omarchy|About|TUI\.float|org\.gnome\.Evince|com\.seafile\.seafile-applet)$"#
    open-floating true
    open-focused true
}

// File dialogs
window-rule {
    match app-id=r#"^(xdg-desktop-portal-gtk|sublime_text|DesktopEditors|org\.gnome\.Nautilus)$"#
    match title=r#"^(Open.*Files?|Open [Ff]older.*|Save.*Files?|Save.*As|Save|All Files)"#
    open-floating true

    shadow {
      on
    }
}

// Calculator with fixed size
window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
    max-width 360
    max-height 616

    shadow {
      on
    }
}

// ============================================================================
// GLOBAL STYLING
// ============================================================================

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
