// ============================================================================
// SPECIAL BEHAVIOR WINDOWS
// ============================================================================

window-rule {
    match title=".*Picture-in-Picture.*"
    open-floating true
}

window-rule {
    match app-id="^Screensaver$"
    open-maximized true
    open-maximized-to-edges true
    open-fullscreen true

    focus-ring { 
        off 
    }
    border { 
        off 
    }
}

window-rule {
    match app-id="org.gnome.Nautilus"
    open-focused true
}

window-rule {
    match app-id="Alacritty"
    draw-border-with-background false
    opacity 0.98
}

// ============================================================================
// WORKSPACE: WEB
// ============================================================================

window-rule {
    match app-id=r#"^(google-chrome|chromium|org\.chromium\.Chromium)$"#
    open-maximized true
    open-focused true
    open-on-workspace "Web"
}

// ============================================================================
// WORKSPACE: CODE
// ============================================================================

window-rule {
    match app-id=r#"^(code|jetbrains-studio|antigravity)$"#
    open-maximized true
    open-focused true
    open-on-workspace "Code"
}

window-rule {
    match app-id="ONLYOFFICE"
    open-maximized true
    open-focused true
    open-on-workspace "Code"
}

// ============================================================================
// WORKSPACE: CHAT
// ============================================================================

window-rule {
    match app-id=r#"^(Slack|org\.telegram\.desktop|signal|chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default)$"#
    open-maximized true
    //open-focused true
    //open-floating true
    open-on-workspace "Chat"
}

// ============================================================================
// WORKSPACE: Music 
// ============================================================================

window-rule {
    match app-id=r#"^(spotify|feishin)$"#
    open-focused true
    open-on-workspace "Music"
}


// ============================================================================
// FLOATING WINDOWS
// ============================================================================

// Small utility windows
window-rule {
    match app-id=r#"^(imv|blueberry\.py|Bluetui|Impala|Wiremix|org\.gnome\.NautilusPreviewer|com\.gabm\.satty|Omarchy|About|TUI\.float|com\.seafile\.seafile-applet|localsend_app|org\.gnome\.Loupe)$"#
    open-floating true
    open-focused true
}

// File dialogs
window-rule {
    match app-id=r#"^(xdg-desktop-portal-gtk|sublime_text|DesktopEditors)$"#
    match title=r#"^(Open.*Files?|Open [Ff]older.*|Save.*Files?|Save.*As|Save|All Files)"#
    open-floating true
}

// Calculator with fixed size
window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
    max-width 360
    max-height 616
}

// ============================================================================
// GLOBAL STYLING
// ============================================================================

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
  match is-floating=true

  shadow {
    on
  }
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
