window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="^Screensaver$"
    open-maximized true
    open-maximized-to-edges true
    open-fullscreen true
    
    focus-ring {
      off
    }
    border {
      off
    }
}

window-rule {
    match app-id=r#"^(google-chrome|chromium|org\.chromium\.Chromium)$"#
    open-maximized true
}

// Vscode is maximized by default
window-rule {
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id=r#"^(blueberry\.py|Bluetui|Impala|Wiremix|org\.gnome\.NautilusPreviewer|com\.gabm\.satty|Omarchy|About|TUI\.float|org\.gnome\.Evince)$"#
    open-floating true
}

window-rule {
    match app-id=r#"^(xdg-desktop-portal-gtk|sublime_text|DesktopEditors|org\.gnome\.Nautilus)$"#
    match title=r#"^(Open.*Files?|Open [F|f]older.*|Save.*Files?|Save.*As|Save|All Files)"#
    open-floating true
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
    max-width 360
    max-height 616
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}