binds {
   Mod+C hotkey-overlay-title="Copy" { spawn "wtype" "-M" "ctrl" "-P" "Insert" "-m" "ctrl"; }
   Mod+V hotkey-overlay-title="Paste" { spawn "wtype" "-M" "shift" "-P" "Insert" "-m" "shift"; }
   Mod+X hotkey-overlay-title="Cut" { spawn "wtype" "-M" "ctrl" "-P" "x" "-m" "ctrl"; }
}