@import "~/.config/theme/rofi.rasi"

configuration {
    modi:                        "drun";
    show-icons:                  true;
    drun-display-format:         "{name}";

    timeout {
        delay: 60;
        action: "kb-cancel";
    }
}

//----- Main Window -----//

window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       82%;
}

//----- Main Box -----//

mainbox {
    enabled:                     true;
    children:                    [ "listview" ];
    background-color:            @window-background;
}

//----- Listview -----//

listview {
    enabled:                     true;
    columns:                     3;
    lines:                       2;
    spacing:                     12px;
    padding:                     14px;
    cycle:                       true;
    dynamic:                     false;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @foreground;
}

//----- Elements -----//

element {
    enabled:                     true;
    orientation:                 vertical;
    children:                    [ element-icon ];
    spacing:                     0px;
    padding:                     6px;
    border-radius:               14px;
    height:                      310px;     /* ← C’est ÇA qui rend la grille beaucoup moins haute */
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}

element selected {
    background-color:            rgba(255,255,255,0.07);
}

element-icon {
    size:                        280px;     /* images toujours bien grosses mais dans une case plus basse */
    cursor:                      inherit;
    border-radius:               12px;
    background-color:            transparent;
    text-color:                  inherit;
}

element-icon selected {
    border:                      0;         /* pas de bordure comme tu as retiré */
}

element-text {
    enabled:                     false;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding:                     20px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
