@import "base-theme.rasi"

* {
  background: #2E3440;
  background-alt: #2E3440;
  foreground: #D8DEE9;
  selected-text: #88C0D0;
  border-color: #D8DEE9;
  
  window-background: rgba(46, 52, 64, 0.95);
  placeholder-color: rgba(216, 222, 233, 0.5);
}