@import "base-theme.rasi"

* {
  background: #1a1b26;
  background-alt: #1a1b26;
  foreground: #cfc9c2;
  selected-text: #7dcfff;
  border-color: #33ccff;
  
  window-background: rgba(26, 27, 38, 0.95);
  placeholder-color: rgba(207, 201, 194, 0.5);
}