@import "base-theme.rasi"

* {
  background: #282828;
  background-alt: #282828;
  foreground: #ebdbb2;
  selected-text: #fabd2f;
  border-color: #ebdbb2;
  
  window-background: rgba(40, 40, 40, 0.95);
  placeholder-color: rgba(235, 219, 178, 0.5);
}