@import "base-theme.rasi"

* {
  background: #11221C;
  background-alt: #11221C;
  foreground: #ebfff2;
  selected-text: #e1b55e;
  border-color: #214237;
  
  window-background: rgba(17, 34, 28, 0.95);
  placeholder-color: rgba(235, 255, 242, 0.5);
}