spawn-at-startup "mako"
spawn-sh-at-startup "waybar --config ~/.config/waybar/niri.jsonc"
spawn-sh-at-startup "dotarchy-background set"
spawn-at-startup "swayosd-server"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "wl-clip-persist --clipboard regular --all-mime-type-regex '^(?!x-kde-passwordManagerHint).+'"
