@import "base-theme.rasi"

* {
  background: #2c2525;
  background-alt: #2c2525;
  foreground: #e6d9db;
  selected-text: #fabd2f;
  border-color: #e6d9db;
  
  window-background: rgba(44, 37, 37, 0.95);
  placeholder-color: rgba(230, 217, 219, 0.5);
}