@import "../theme/waybar.css";

* {
    color: @foreground;
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
  background: @background;
}

.modules-right,
.modules-left {
    padding: 2px;
    margin: 2px; 
}

#workspaces {
    padding: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 2px;
    min-width: 10px;
    color: alpha(@foreground, 0.25);
    transition: color 0.2s ease;
}

#workspaces button:hover {
    color: alpha(@foreground, 0.8);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#workspaces button.active {
    color: @foreground;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
    color: transparent;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#privacy,
#custom-screenrecording-indicator,
#custom-do-not-disturb-indicator,
#curstom-mirror,
#custom-wireguard,
#custom-update {
    margin: 0 4px;
    min-width: 12px;
    color: @foreground;
    transition: color 0.2s ease;
}

tooltip {
    background: @background;
    color: @foreground;
    font-size: 9px;
    padding: 2px;
}

tooltip * {
  text-shadow: none;
}

#custom-update,
#custom-screenrecording-indicator {
    font-size: 9px;
    padding: 0 6px;
}

#custom-screenrecording-indicator {
    margin-left: 6px;
}

#clock {
    margin-left: 2px;
    padding: 0 4px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}

#battery.charging {
    color: #26a65b;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation: blink 0.5s linear infinite alternate;
}

menu {
    background-color: @background;
    opacity: 1.0;
}

menu menuitem {
    background-color: transparent;
}

menu menuitem:hover {
    background-color: alpha(@foreground, 0.2);
}
